.menu-table-format{
    display: grid;
    grid-template-columns:  0.2fr 0.5fr 0.5fr 0.2fr ;
    align-items: center;
    padding: 12px 15px;
    gap: 10px;
    border: 1px solid maroon;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold ;
}

.menu-table-format.title{
    background-color: rgb(233, 229, 229);
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: rgb(41, 66, 68);
}

h2{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: brown;
    font-weight: bold;
    font-size: 25px;
}
.menu-table-format img{
    width: 50px;
}


@media (max-width:600px) {
    .menu-table-format{
        grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr ;
        gap: 15px;
    }
    .menu-table-format.title{
        display: none;
    }
}