.my-orders{
    margin: 50px 0px;
    margin-left: 100px;
}

.my-orders h2{
    font-weight: bold;
    color: brown;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 35px;
}

.container{
    width: 80%;
}

.my-orders-order{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1.5fr 1fr 1fr 0.5fr 0.5fr;
    align-items: center;
    color: black;
    padding:20px;
    border: 1px solid tomato;
    gap: 30px;
    font-size: 14px;
    margin: 30px 0px;
}

.order-item-food , .order-name{
    font-weight: 600
}

.my-orders-order select{
    background-color: #ffe8e4;
    border: 1px solid tomato;
    width: max(10vw,120px);
    outline: none;
    padding: 10px;
}

.my-orders-order img{
    width: 50px;
}

@media (max-width:950px) {
    .my-orders-order{
        grid-template-columns: 1fr 2fr  ;
        padding: 15px 8px;
        font-size: 12px;
    }
    .my-orders-order select{
        padding: 5px;
        width: 80px;
        font-size: 8px;
    }
    .my-orders-order img{
        width: 40px;
    }
}